/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
    background-position: center;
    display: flex;
    overflow-y: hidden;
  overflow-x: hidden;
}

.wrapper{
    border-radius: 10px;
    z-index: 111;
}

.wrapper{
    background: rgb(255, 255, 255);
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%

    transform translate(-50%, -50%) scale(1.4);
}

.wrapper header{
    color:rgb(0, 0, 0);
    font-size:23px;
    font-weight:500;
    padding: 2px 5px;
    border-bottom: 1px solid #bfbfbfbf;
}

.wrapper .content{
    margin: 30px 30px 40px;
}

.wrapper{
    border-radius: 10px;
}

.note{
    margin: 7px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.exeedge{
    margin: 7px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.bin{
    margin: 7px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: radial-gradient(rgb(76, 186, 250), rgb(42, 152, 216), rgb(94, 145, 175));
    overflow: hidden;
    background-size: 100%;
    background-repeat:no-repeat;
    background-position-y: top;
    background-attachment: fixed;
}
.taskbar{
    background-color: #F3F3F3;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    z-index: 130;
    justify-content: center;
    
}
.right{
    justify-self: flex-end;
    position: absolute;
    right: 0;
    margin: 6px 0;
    height: 85%;
}  
.startmenu{
    position: absolute;
    bottom: -655px;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in; 
    z-index: 110;
}
.startmenu img{
    border-radius: 8px;
}