/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
   background-position: center;
    display: flex;
    overflow-y: hidden;
  overflow-x: hidden;
}

.note{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.exeedge{
    margin: 7px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.bin{
    margin: 7px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow: hidden;
    background-size: 100%;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
.taskbar{
    background-color: #F3F3F3;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    z-index: 130;
    justify-content: center;
    
}
.right{
    justify-self: flex-end;
    position: absolute;
    right: 0;
    margin: 6px 0;
    height: 85%;
}  
.startmenu{
    position: absolute;
    bottom: -655px;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in; 
    z-index: 110;
}
.startmenu img{
    border-radius: 8px;
}